html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map_canvas {
	height: 100%;
	width: 70%;
	float: left;
}

#sidebar {
	height: 100%;
	width: 30%;
	float: left;
	background-color: #9BC295;
	padding: 5px 20px;
	position: relative;
	min-width: 100px;

	border-right: 10px solid #AB9F85;
	-webkit-box-sizing:  border-box;
	-o-box-sizing:  border-box;
	-moz-box-sizing:  border-box;
	box-sizing:  border-box;
}

/* Loading container, dummy, and loading are from
 * Nathan Ryan's post on Stack Overflow: 
 * http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
  */
#loading-container {
    display: inline-block;
    position: absolute;
    width: 80%;
    bottom: 30px;
}
#dummy {
    margin-top: 75%;
}
#loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 0;
	border-radius: 10px;

	text-align: center;
	font-size: 200%;
	background-color: #D3C7AF;
	padding-top: 15%;

	opacity: 0;
	-o-transition: opacity 1s ease-in;
	-webkit-transition: opacity 1s ease-in;
	-moz-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
}

#loading .spinner {
	position: absolute;
	top: 15%;
	width: 100%;
	height: 100%;
	background: transparent url('spinner.png') center center no-repeat;
	background-size: 25%;
	animation-duration: 3s;
	animation-name: loading-rotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes loading-rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* State changes when the sidebar is hidden */
body.loading #loading {
	opacity: 1;
}